<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>反馈</title>
    <link rel="stylesheet" href="..\public\css\base.css">
    <link rel="stylesheet" href="..\public\css\fira_code.css">
    <link rel="stylesheet" href="..\public\css\layout.css">
    <link rel="shortcut icon" href="./public/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- 填充 -->
    {{include './layout/header.html'}}
    <h3>{{title}}</h3>
    <p><a href="https://docs.qq.com/doc/DZG9iQ2JuUHZTSUpJ">项目文档连接</a></p>
    {{include './layout/footer.html'}}

</body>
<script src="..\node_modules\jquery\dist\jquery.min.js"></script>

</html>