<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..\public\css\base.css">
    <link rel="stylesheet" href="..\public\css\header-footer.css">
    <link rel="stylesheet" href="..\public\css\font-awesome.min.css">
    <link rel="stylesheet" href="..\public\css\fira_code.css">
</head>

<body>
    <!-- 头部填充 -->
    {{include './layout/header.html'}}

    商品详情页
</body>
<script src="..\node_modules\jquery\dist\jquery.min.js"></script>
<script src="../public/js/headerandfit.js"></script>

</html>