<footer>
    <div class="info">
        <div>
            <p>&nbsp;</p>
            <p>友情链接：</p>
            <p>&nbsp;</p>
            <a href="https://docs.qq.com/doc/DZG9iQ2JuUHZTSUpJ">项目文档链接</a>
            <p>&nbsp;</p>
            <a href="https://github.com/Guest1798/shopDemo">github源文件</a>
        </div>
        <div>
            <p>&nbsp;</p>
            <p>xxxxxxx</p>
            <p>&nbsp;</p>
        </div>
        <div>
            <p>&nbsp;</p>
            <p>xxxxxxx</p>
            <p>&nbsp;</p>
        </div>

    </div>

</footer>