<ul class="toolbar tac">
    {{if user}}
    <li>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span>3</span>
    </li>
    <li class="shopcart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span id="shopcart-count"></span>
        <div class="shoppingcart">
            <p class="tac">
                {{username}}购物车
            </p>
            <ul id="shoppinglist">
                <p id="sjid">{{goods}}</p>
            </ul>
        </div>
    </li>
    {{else}}
    <li>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span>3</span>
    </li>
    <li class="shopcart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span></span>
        <div class="shoppingcart">
            <p class="tac">
                购物车
            </p>
            <ul id="shoppinglist">
                <p id="sjid"></p>
            </ul>
        </div>
    </li>
    {{/if}}
    <li id="back2top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></li>
</ul>
<script>

</script>